<!doctype html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

    <title>侧边展开导航栏</title>
    <!-- 引入字体图标 -->
    <script type="text/javascript" src="http://himg2.huanqiu.com/statics/hq2013/js/lib/jquery1.9.1.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" src="/files/common/font-awesome.min.css" > -->
    <link rel="stylesheet" href="/files/admin/css/top.css">
    <script src="/files/admin/js/top.js"></script>
    <!-- <script src="/files/admin/js/common.js"></script> -->
    
</head>

<body>
    <div class="navbar">
        <input type="checkbox" id="checkbox">
        <label for="checkbox">
            <!-- <i class="fa fa-bars" aria-hidden="true"></i> -->
            <i  aria-hidden="true"></i>
        </label>
        <ul>
            <li>
                <img src="https://img01.sogoucdn.com/app/a/100520093/8379901cc65ba509-45c21ceb904429fc-3d76954af80d02665d56409b836b4f63.jpg">
                <span>欢迎您！</span>
            </li>
            <li>
                <a href="/admin">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span>后台首页</span>
                </a>
            </li>
            <li>
                <a href="/admin/shouye"  >
                    <i class="fa fa-map-o" aria-hidden="true"></i>
                    <span>共享平台</span>
                </a>
            </li>
            <li>
                <a href="/admin/tupu" >
                    <i class="fa fa-th-large" aria-hidden="true"></i>
                    <span>图谱显示</span>
                </a>
            </li>
            <li>
                <a href="/admin/yiqing">
                    <i class="fa fa-sitemap" aria-hidden="true"></i>
                    <span>全国疫情</span>
                </a>
            </li>
            <li>
                <a href="/admin/fuwu" >
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    <span>监控平台</span>
                </a>
            </li>


        </ul>
    </div>

</body>

</html>