<!doctype html>
<html lang="utf-8">
<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="/files/admin/css/graph.css"> -->
    <script type="text/javascript" src="http://himg2.huanqiu.com/statics/hq2013/js/lib/jquery1.9.1.js"></script>
    <!-- <script src="/files/admin/js/common.js"></script> -->
    <style>
        .comment #fshouye{
            width:100%;
            height:713px;
            border: none;
        }
    </style>
</head>
<body>
<div>
    <% include common/top.ejs%>
    <div class='comment'>
        
        <iframe  id="fshouye" src="/files/shouye/index.html" ></iframe>
    </div>
</div>



</body>
</html>